.CartLink img {
  max-width: 35px;
}
.CartLink a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 600px) {
  .CartLink img {
    width: 25px;
  }
}
