.ProductList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ProductList .Product {
  max-width: 200px;
}
.ProductList .Product .Product-content{
  display: flex;
  flex-direction: column;
}
.ProductList .Product img {
  width: 100%;
  height: 230px;
}
.ProductList .Product .Product-content .Product-name {
  text-decoration: none;
  color: black;
}
.ProductList .Product span {
  font-weight: 700;
  border: 1px solid white;
  background-color: white;
}
