.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.Product .Product_link {
  display: flex;
  flex-direction: column;
}
.Product a {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
  color: rgb(1, 1, 1);
  font-weight: 600;
  margin-top: 50px;
}
.Product .Product_img img {
  width: 170px;
  height: 250px;
  border: 1px solid grey;
  border-radius: 3px;
}
.Product .Product_content {
  padding: 0 25px;
}
.Product_price {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}
.Add_to_card {
  text-align: center;
  margin-top: 10px;
}
.Category_name {
  
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Category_name a {
  color: rgb(0, 0, 0);
  padding: 10px 30px;
  background-color: rgb(205, 205, 209);
  border-radius: 3px;
  font-size: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.Category_name a:hover {
  box-shadow: 0 0 5px rgb(45, 45, 169);
  cursor: pointer;
  background-color: rgb(149, 149, 214);
  transform: scale(1.1);
  transition: 0.3s;
}
.Category_name a:focus {
  background-color: rgb(149, 149, 214);
  color: white;
  transform: scale(1.1);
}
.Category_name li {
  list-style-type: none;
}
.ProductList {
  margin: 30px 60px;
}
@media screen and (max-width:600px) {
  .Category_name a{
    font-size: 16px;
    margin-left: -50px;
    margin: 10px;
  }
}
