.ProductList {
  display: flex;
  flex-wrap: wrap;
}
.Product .Product_link {
  display: flex;
  flex-direction: column;
}
.Product a {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: rgb(1, 1, 1);
  
}
.Product .Product_img img {
  width: 170px;
  height: 250px;
  border: 1px solid grey;
  border-radius: 3px;
}
.Product .Product_content {
  padding: 0 10px;
}
.Product_price {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}
.Add_to_card {
  text-align: center;
  margin-top: 10px;
}
.Category_name {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Category_name a {
  color: white;
  padding: 10px 20px;
  background-color: rgb(99, 99, 99);
  border-radius: 3px;
  font-size: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.Category_name li {
  list-style-type: none;
}
