.OrderForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgb(86, 86, 170);
  border-radius: 3px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}
.OrderForm input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.OrderForm input:focus {
  outline: none;
}
.OrderForm button {
  padding: 10px 30px;
  background-color: rgb(114, 114, 210);
  border-radius: 3px;
  border: 1px solid grey;
  color: white;
  margin-bottom: 30px;
  margin-top: 20px;
  cursor: pointer;
}
.OrderForm button:hover {
  transition: 0.3s;
  background-color: rgb(57, 57, 216);
  color: white;
}
.Login {
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
  border-radius: 3px;
}
.empty {
  color: rgb(14, 14, 168);
}
