.Layout {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.Layout header {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  background-color: bisque;
}
.Layout aside {
  flex: 20% 0 0;
  border: 1px solid black;
}
.Layout main {
  flex: auto 1 1;
}
.Layout footer {
  flex: 100% 0 0;
}
