.Contacttt {
  display: flex;
  justify-content: space-around;
}
.block_1 {
  padding: 20px 40px;
  margin: 40px 0;
  box-shadow: 0 0 5px rgb(122, 122, 212);
}
.block_1 h2 {
  text-align: center;
}
.block_1 p {
  text-align: center;
}
.block_2{
  padding: 20px 110px;
  margin: 40px 0;
  box-shadow: 0 0 5px rgb(122, 122, 212);
}
.block_2 p{
  text-align: center;
}
.block_2 h2 {
  text-align: center;
}