.Section_1 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.Section_1 h1 {
  text-align: center;
  font-size: 25px;
  color: black;
  text-transform: uppercase;
}
.Carts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Carts img {
  max-width: 265px;
  box-shadow: 0 0 15px grey;
}
.Carts h3 {
  padding-top: 10px;
  text-transform: uppercase;
  color: black;
  text-align: center;
}
.Carts .Cart_1_content {
  background-color: rgb(177, 175, 175);
  opacity: 0.9;

  box-shadow: 0 0 10px grey;
}
.Carts p {
  text-align: center;
  margin-top: -20px;
  padding: 10px;
}
.Store_name img {
  width: 40%;
}
.Store_name {
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: right;
  height: 800px;
  background-image: url(../assets/image_for_home_1.png);
}
.Store_name p {
  display: inline-block;
  margin-top: 60px;
  margin-left: 80px;
  text-align: center;
  font-size: 25px;
  width: 40%;
  font-weight: 600;
  line-height: 2;
  background-color: white;
  opacity: 0.9;
  padding: 10px;
}
