.Section_1 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.Section_1 h1 {
  text-align: center;
  font-size: 25px;
  color: black;
  text-transform: uppercase;
}
.Carts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Carts img {
  max-width: 265px;
  border-radius: 3px;
}
.Carts h3 {
  padding-top: 10px;
  text-transform: uppercase;
  color: black;
  text-align: center;
}
.Carts p {
  text-align: center;
  margin-top: -20px;
  padding: 10px;
}
.Section_2 img {
  width: 40%;
}
.Section_2 {
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: right;
  height: 650px;
  background-image: url(../assets/image_for_home_1.png);
}
.Section_2 p {
  display: inline-block;
  margin-top: 60px;
  margin-left: 80px;
  text-align: center;
  font-size: 25px;
  width: 40%;
  font-weight: 600;
  line-height: 2;
  background-color: white;
  border-radius: 3px;
  opacity: 0.9;
  padding: 10px;
}
.Section_3 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.Cartt {
  display: flex;
  align-items: center;
}
.Section_3 .Cart_4_img img {
  max-width: 400px;
}
.Section_3 .Cart_4_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Section_3 .Cart_4_content p {
  font-size: 25px;
  line-height: 2;
  text-align: center;
  width: 65%;
}
.Video_for_home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Video_media_home {
  height: 600px;
  width: 100%;
  
  border-color: white;
  border-right: 1px solid black;
}
