.Footer_ {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(72, 72, 72);
}
.icon {
  color: white;
  margin: 30px;
  display: inline-flex;
  border-radius: 3px;
  width: 30px;
  height: 30px;
}
.icon:hover {
  transition: 0.9s;
}
.icon a {
  margin: auto;
  padding: 20px;
}
.icon:hover a {
  animation: shake 0.25s;
  transition: 0.1s;
}
.Explore ul {
  list-style-type: none;
}
.Explore a {
  text-decoration: none;
  margin-bottom: 10px;
}
.Categoryy ul {
  list-style-type: none;
}
.Categoryy a {
  text-decoration: none;
}
.Footer_content {
  display: flex;
  justify-content: space-around;
}
.Footer_content h3 {
  color: rgb(65, 65, 65);
  font-size: 18px;
}
.Contactt ul {
  list-style-type: none;
}
.Contactt a {
  text-decoration: none;
}
.Contactt svg {
  margin-right: 10px;
}
.Footer_content a {
  color: white;
}
.Privacy {
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
  align-items: baseline;
}
.Privacy ul {
  list-style-type: none;
  display: flex;
}
.Privacy a {
  color: white;
  text-decoration: none;
  margin-right: 50px;
}
.Footer_end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  
  color: rgb(65, 65, 65);
  font-size: 16px;
}
.Footer_span {
  margin-left: 90px;
}
.Up svg {
  color: white;
  margin-right: 50px;
}
