.Footer_begin {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(126, 147, 178);
}
.icon {
  color: white;
  margin: 30px;
  display: inline-flex;
  border-radius: 3px;
  width: 30px;
  height: 30px;
}
.icon:hover {
  transition: 0.3s;
  transform: scale(1.2);
  color: rgb(124, 145, 177);
  cursor: pointer;
}
.Explore ul {
  list-style-type: none;
}
.Explore ul a {
  text-decoration: none;
}
.Explore a:hover {
  transition: 0.3s;
  transform: scale(1.5);
  color: rgb(28, 48, 76);
  cursor: pointer;
}
.Categoryy ul {
  list-style-type: none;
}
.Categoryy a {
  text-decoration: none;
}
.Categoryy a:hover {
  transition: 0.3s;
  transform: scale(1.5);
  color: rgb(28, 48, 76);
  cursor: pointer;
}
.Footer_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
}

.Footer_content h3 {
  font-size: 18px;
  color: rgb(79, 78, 78);
}
.Contactt ul {
  list-style-type: none;
}
.Contactt a {
  text-decoration: none;
}
.Contactt a:hover {
  transition: 0.3s;
  transform: scale(1.5);
  color: rgb(28, 48, 76);
  cursor: pointer;
}
.Contactt svg {
  margin-right: 10px;
}
.Footer_content a {
  color: white;
}
.Privacy {
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
  align-items: baseline;
}
.Privacy ul {
  list-style-type: none;
  display: flex;
}
.Privacy a {
  color: white;
  text-decoration: none;
  margin-right: 50px;
}
.Footer_end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  color: rgb(79, 78, 78);
  font-size: 16px;
}
.Footer_span {
  margin-left: 90px;
}
.Up svg {
  color: white;
  margin-right: 50px;
}
@media screen and (max-width: 600px) {
  
}
