.CategoryList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin-left: -35px;
}
.CategoryList ul li a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 16px;
}
.CategoryList img {
  width: 200px;
  height: 200px;
}
.CategoryList .Category {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.CategoryList h1 {
  text-align: center;
  color: black;
 
}
