.Auth .SignIn {
  display: flex;
  flex-direction: column;
}
.Auth .SignIn img {
  width: 30px;
  margin-left: 10px;
  margin-top: 15px;
}
.Auth .SignIn a {
  text-decoration: none;
  color: black;
}
.Auth .SignOut {
  display: flex;
  flex-direction: column;
}
.Auth .SignOut img {
  width: 45px;
  border-radius: 50%;
  margin-top: 20px;
}
.Auth .SignOut .User {
  color: black;
}
.Auth_link {
text-decoration: none;
}
@media screen and (max-width:600px) {
  .Auth .SignOut img {
    width: 30px;
  }
  .Auth .SignOut .User {
    font-size: 10px;
  }
}