.Auth {
  position: absolute;
  left: 730px;
}
.Auth .SignIn {
  display: flex;
  flex-direction: column;
}
.Auth .SignIn img {
  width: 30px;
  margin-left: 10px;
  margin-top: 15px;
}
.Auth .SignIn a {
  text-decoration: none;
  color: black;
}
.Auth .SignOut {
  display: flex;
  flex-direction: column;
}
.Auth .SignOut img {
  width: 80px;
  margin-top: 15px;
}
.Auth .SignOut .User {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
