.Auth {
  display: flex;
  flex-direction: column;
}
.Auth .User {
  text-decoration: none;
  color: black;
}
.Auth button {
  background-color: white;
  border-color: grey;
  font-size: 16px;
  padding: 5px 10px;
  background-color: grey;
  color: white;
  cursor: pointer;
}
.Auth button:hover {
  box-shadow: 0 0 5px black;
}
